<!DOCTYPE html>
<html>
<head>
  <title>Add an Article</title>
</head>
<body>
<form method="post" action="/articles">
    <input placeholder="Title" name="article[title]"><br>
    <input placeholder="Article Author" name="article[author]"><br>
    <textarea placeholder="Article Summary" name="article[summary]">
    </textarea><br>
    <button>Submit Article</button>
</form>


</body>
</html>